<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="dark" style="font-family: 'metro';">
      The Hustle
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="copyToClipboard()" color="dark">
        <ion-icon slot="icon-only" name="share-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <app-lobby-block [roomState]="roomState" [storage]="storage" [players]="players" [currentPlayer]="currentPlayer"
    [gameType]="gameType" [votingBlock]="votingBlock">
  </app-lobby-block>
  <app-voting-block [roomState]="roomState" [storage]="storage" [players]="players" [activePlayers]="activePlayers"
    [currentPlayer]="currentPlayer" [lobbyBlock]="lobbyBlock">
  </app-voting-block>
  <app-players-block [roomState]="roomState" [storage]="storage" [currentPlayer]="currentPlayer"
    [votingBlock]="votingBlock" [players]="players" [activePlayers]="activePlayers"></app-players-block>
  <app-chat-block [lobbyBlock]="lobbyBlock" [currentPlayer]="currentPlayer">
  </app-chat-block>
</ion-content>