<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="dark" style="font-family: 'metro';">
      The Hustle
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="copyToClipboard()" color="dark">
        <ion-icon slot="icon-only" name="share-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <!-- Lobby & Question blocks -->
  <ion-card *ngIf="playerType == 0 && roomState == 0" color="primary">
    <ion-card-header>
      <ion-card-title style="font-family: 'molle';">You are the host!</ion-card-title>
    </ion-card-header>
    <ion-card-content style="font-family: 'pica' !important">
      <div>Please let all your players join before hitting begin!</div>
      <span class="roomcode">Room Code: {{storage.roomid | uppercase}}</span>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item style="padding: 0;" color="primary">
              <ion-label style="font-family: 'pica' !important;">Questions Per Round</ion-label>
              <ion-select [(ngModel)]="numQuestions" value="numQuestions">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-item style="padding: 0;" color="primary">
          <ion-label style="font-family: 'pica' !important; ">Private</ion-label>
          <ion-toggle color="secondary" [(ngModel)]="isPrivate" (ionChange)="updateRoomPrivacy()"></ion-toggle>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="danger" (click)="cancel()">Cancel</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="success" (click)="begin()" [disabled]="players.length < 4">Begin
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="playerType == 0 && roomState == 1" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Question Time</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <span [innerHTML]="activeQuestion.question"></span>
      <ion-list>
        <ion-item *ngFor="let q of activeQuestion.answers" color="primary">
          <span [ngStyle]="{'background': q == activeQuestion.correct_answer ? 'var(--ion-color-success)' : ''}"
            [innerHTML]="q"></span>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="success" expand="block" (click)="next()">Next Question</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="light" expand="block" (click)="startTimer()" *ngIf="!timerStarted">Start Timer
            </ion-button>
            <ion-button color="light" expand="block" (click)="resetTimer()" *ngIf="timerStarted">{{time}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="playerType == 1  && roomState == 0" color="primary">
    <ion-card-header>
      <ion-card-title style="font-family: 'molle';">Waiting for Game to Start</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>Please enter your name while you wait.</div>
      <ion-item color="primary">
        <ion-label position="stacked">Name</ion-label>
        <ion-input placeholder="John Doe" [(ngModel)]="playerName" debounce="1000"
          (ionChange)="updatePlayerName(playerName)">
        </ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="playerType == 1  && roomState == 1" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Question Time</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <span [innerHTML]="activeQuestion.question"></span>
      <ion-list>
        <ion-item *ngFor="let q of activeQuestion.answers" color="primary">
          <span
            [ngStyle]="{'background': isHustler && q == activeQuestion.correct_answer ? 'var(--ion-color-success)' : ''}"
            [innerHTML]="q"></span>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Begin voting blocks -->
  <ion-card *ngIf="roomState == 2 && playerType == 0" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Voting Commenced</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngIf="eliminatedPlayer.id">
      Eliminated Player: <span *ngIf="eliminatedPlayer.name; else elseBlock">{{eliminatedPlayer.name}}</span>
      <ng-template #elseBlock>{{eliminatedPlayer.id}}</ng-template>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="success" expand="block" (click)="removePlayerThenNext()">Next Question</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="roomState == 2 && playerType == 1 && !voted" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Players</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let player of players; let i=index;" button (click)="vote(player, i)"
        [hidden]="player.id == storage.playerid" color="primary">
        <span *ngIf="player.name && player.id != storage.playerid; else elseBlock">{{i + 1}}. {{player.name}}</span>
        <ng-template #elseBlock>
          <ng-container *ngIf="player.id != storage.playerid">{{i + 1}}. {{player.id}}</ng-container>
        </ng-template>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="roomState == 2 && playerType == 1 && voted" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Voting</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Thanks for voting
    </ion-card-content>
  </ion-card>
  <!-- End voting blocks-->

  <!-- Player list -->
  <ion-card *ngIf="roomState != 2" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Players</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let player of players; let i=index;" color="primary">
        <span *ngIf="player.name; else elseBlock"
          [ngStyle]="{'background': timeToReveal && player.isHustler ? 'var(--ion-color-success)' : ''}">{{i + 1}}.
          {{player.name}}</span>
        <ng-template #elseBlock>
          <span
            [ngStyle]="{'background': timeToReveal && player.isHustler ? 'var(--ion-color-success)' : ''}">{{i + 1}}.
            {{player.id}}</span></ng-template>
        <ion-button (click)="remove(i)" slot="end">
          <ion-icon *ngIf="roomState == 0 && playerType == 0" slot="icon-only" name="close-circle" color="secondary">
          </ion-icon>
        </ion-button>
      </ion-item>
      <ion-grid *ngIf="playerType == 0 && roomState == 3">
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="success" (click)="revealHustler()" [hidden]="timeToReveal">Reveal Hustler
            </ion-button>
            <ion-button expand="block" color="success" (click)="cancel()">Exit</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Chat -->
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-subtitle>Live Chat
        <ion-icon (click)="popoutChat($event)" name="arrow-redo" style="color: white; float: right; font-size: 18px;">
        </ion-icon>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="min-height: 150px; max-height: 150px; overflow: scroll">
      <div *ngFor="let message of messages" style="padding-bottom: 5px;" class="message-list">
        <span>{{message.sender}}:</span><br>
        <span>{{message.text}}</span>
      </div>
    </ion-card-content>
    <ion-item lines="none" style="padding: 0;" color="primary">
      <ion-input placeholder="Message..." style="overflow-wrap: break-word; width: 100%; font-family: 'dukas';"
        [(ngModel)]="text">
      </ion-input>
      <ion-button fill="clear" style="width: 30px" (click)="sendMessage(text)" [disabled]="!text">
        <ion-icon slot="icon-only" color="secondary" name="paper-plane-outline" style="height: 100%; width: 100%;">
        </ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>