.message-list {
    overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}

.background {
    --ion-background-color: #efe0bb;
}
* {
font-family: 'pica';
}

.roomcode {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
