<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="dark" style="font-family: 'picas';">
      The Hustle
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="copyToClipboard()" color="dark">
        <ion-icon slot="icon-only" name="share-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ng-lottie *ngIf="state == 'song-playing'" style="display: block; margin: auto; width: 50%" [options]="options"
    (animationCreated)="animationCreated($event)">
  </ng-lottie>
  <ion-card color="primary" *ngIf="state == 'home'">
    <ion-card-header>
      <ion-card-title>Pick a Category</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item color="primary" button (click)="pickCategory('indie')">
          Alternative
        </ion-item>
        <ion-item color="primary" button (click)="pickCategory('rock')">
          Rock
        </ion-item>
        <ion-item color="primary" button (click)="pickCategory('pop')">
          Pop
        </ion-item>
        <ion-item color="primary" button (click)="pickCategory('rap')">
          Rap
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card color="primary" *ngIf="state == 'song-playing'">
    <ion-card-header>
      <ion-card-subtitle>Playing as: </ion-card-subtitle>
      <ion-card-title>Playing against: </ion-card-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button (click)="down()" *ngIf="!recording">
      <ion-icon name="mic"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="up()" *ngIf="recording" color="danger">
      <ion-icon name="mic-off"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>