<ion-content [fullscreen]="true">
  <div class="banner" color="primary">
    <p>{{notification.message}}</p>
  </div>
  <div class="help">
    <ion-icon name="help-circle-outline" style="font-size: 30px;" color="primary" (click)="showHelp()"></ion-icon>
  </div>
  <span class="logo">
    The<br>Hustle
  </span>
  <div class="container">
    <ion-button (click)="startGame()" expand="block" shape="round">
      Start Game
    </ion-button>
    <br>
    <br>
    <ion-input placeholder="Room Code" [(ngModel)]="roomcode" (ionChange)="toUpper()">
    </ion-input>
    <ion-button (click)="joinGame(roomcode)" expand="block" shape="round" [disabled]="!roomcode || roomcode.length < 4">
      Join Game
    </ion-button>
  </div>
</ion-content>